body {
    font-family: arial;
    text-align: center;
 
}

.flexbox {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.container {
    
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
}

.board-square {
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
    background-color: white;
    border: solid 2px black;
    font-size: 5em;

}

.board-square:hover {
    background-color: lightblue;
    cursor: pointer;
}

.modal {
  width: 100%;
  height: 100%;
}



ul {
    list-style-type:none;
}

#gameInfo {
    display: flex;
    justify-content: space-around;
}

.playerBoard {
    border: 1px solid red;
    height: 100px;
    width: 400px;
    justify-content: space-around;
}