html {
  background-color: #292929;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: arial;
  text-align: center;
}

h1 {
  font-size: 4em;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 500px;
  margin: auto;
  width: 50%;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 4px;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.board-square {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  background-color: #292929;

  font-size: 5em;
}

.board-square:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);

  cursor: pointer;
}

.modal {
  opacity: 0;
  visibility: hidden;
  padding: 1%;
  width: 90%;
  max-width: 400px;
  min-width: 300px;
  margin: 100px auto;
  background: #fff;
  border-radius: 10px;
  background-color: #202020;
}

.modal-background {
  visibility: hidden;
  background-color: rgba(37, 37, 37, 0.5);
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

#gameInfo {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.playerBoard {
  height: 100px;
  width: 200px;
  text-align: center;
  overflow-wrap: break-word;
  height: auto;
}

.announcement {
  width: 100%;
  margin-top: 40px;
}

.open-background {
  visibility: visible;
}

.open {
  visibility: visible;
  opacity: 1;
}

.inactivePlayer {
  border: 1px solid rgb(102, 102, 102);
  border-radius: 12px;
  transition: background-color 1s;
  background-color: #202020;
}

.activePlayer {
  border: 1px solid rgb(102, 102, 102);
  border-bottom: 4px solid #3700b3;
  border-radius: 12px;
  transition: background-color 1s;
  background-color: #121212;
}

.button {
  background-color: #03dac6;
  border: none;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
  cursor: pointer;
}

label {
  padding: 5px;
}
input[type="text"] {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

hr {
  width: 2px;
  color: red;
}

.winner {
  background-image: linear-gradient(rgba(134, 211, 247, 0.4) 0 0);
}