body {
    font-family: arial;
    text-align: center;

}

.flexbox {
    display: flex;
    justify-content: center;
}

.container {
    
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
}

.board-square {
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
    background-color: white;
    border: solid 2px black;
    font-size: 5em;

}

.board-square:hover {
    background-color: lightblue;
    cursor: pointer;
}